*
!*.*
!*/
*.cbp
build/
CMakeCache.txt
CMakeFiles
CMakeScripts
CPack*
Dart*
Testing
share
.idea/
.cache/
.vscode/
.vagrant/
.ssh*
ssh_config
.DS_Store
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Traces/
exams/2022-07-18

### Binary Files ###
main


